html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

body * {
    font-family: 'Oswald', sans-serif;
    color: #999;
}

#gen-container, #rnd-container {
    position: absolute;
    top: 7%;
    bottom: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

#gen-container {
    left: 0;
    right: 50%;
    background-color: black;
}

#rnd-container {
    left: 50%;
    right: 0;
    background-color: black;
}

#gen-timer, #rnd-timer {
    position: absolute;
    color: #FD5F00;
    bottom: 0;
    font-size: 10vw;
    z-index: 10;
    overflow:hidden;
}

#gen-timer {
    left: 2vh;
}

#rnd-timer {
    right: 2vh;
}

#target-input-container {
    position: absolute;
    top: 0;
    bottom: 93%;
    left: 0;
    right: 0;
}

#target-input {
    height: 100%;
    width: 100%;
    font-size: 6vh;
    background-color: #191919;
    border: none;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#browser-warning {
    position: absolute;
    bottom: 3vh;
    font-size: 5vh;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}